@import url(./__content-row/intro__content-row.css);
@import url(./__text/intro__text.css);
@import url(./__title/intro__title.css);
@import url(./__spam/intro__spam.css);
.intro {
  max-width: 985px;
  margin: 0 auto;
  margin-top: 100px;
}
@media screen and (max-width: 1024px) {
  .intro {
    width: 90%;
  }
}
@media screen and (max-width: 768px) {
  .intro {
    width: 95%;
  }
}
@media screen and (max-width: 425px) {
  .intro {
    margin-top: 64px;
  }
}
