@import url(./__description/place__description.css);
@import url(./__image/place__image.css);
@import url(./__main/place__main.css);
@import url(./__paragraph/place__paragraph.css);
@import url(./__paragraphs/place__paragraphs.css);
@import url(./__title/place__title.css);
@import url(./__url-heading/place__url-heading.css);
@import url(./__url/place__url.css);
@import url(./__website/place__website.css);
.place {
  margin-bottom: 72px;
}
.place:last-child {
  margin-bottom: 0px;
}
@media screen and (max-width: 700px) {
  .place {
    margin-bottom: 48px;
  }
}
